.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.typeImage {
  --imageSize: 5em;
  width: var(--imageSize);
  height: var(--imageSize);
}

.type {
  font-size: larger;
}

.typesContainer {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.typeButtonAdd,
.typeButtonDelete {
  --size: 4em;
  border-radius: 500px;
  height: var(--size);
  width: var(--size);
  margin: 0.1px;
  transition: 0.2s;
}

.typeButtonAdd:hover,
.typeButtonDelete:hover {
  transform: scale(1.2);
}

.typeButtonAdd {
  background-color: rgb(221, 73, 73);
}

.typeButtonDelete {
  background-color: rgb(42, 246, 59);
}

.typeContainer {
  background-color: aqua;
  border-radius: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  min-height: 4em;
  padding: 1em;
}

.submit {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  margin-bottom: 1em;
}

.submit {
  margin-top: 1em;
  width: 12rem;
  height: auto;
}

.submit .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
}

.submit .circle .iconArrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

.submit .circle .iconArrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

.submit .circle .iconArrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

.submit .buttonText {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

.submit:hover .circle {
  width: 100%;
}

.submit:hover .circle .iconArrow {
  background: #fff;
  transform: translate(1rem, 0);
}

.submit:hover .buttonText {
  color: #fff;
}
